<div class="container">
  <h1>My information</h1>
  <div ng-if="controller.useravailable == false">
    <h2>Not Signed Up Yet. <a ui-sref="admin.signup">Sign up Now!</a></h2>
  </div>
  <div ng-if="controller.useravailable == true">
    <div class="form-group">
      <label>Fist name:</label>
      {{controller.user.firstname}}
    </div>
    <div class="form-group">
      <label>Last name:</label>
      {{controller.user.lastname}}
    </div>
    <div class="form-group">
      <label>Email address:</label>
      {{controller.user.email}}
    </div>
    <div class="form-group">
      <label>Phone number:</label>
      {{controller.user.phone}}
    </div>
    <div class="form-group">
      <label>Favorite dish:</label>
      <img ng-src="https://garciaoma.herokuapp.com/images/{{controller.user.favoritedish}}.jpg">
    </div>
  </div>
</div>
